<script setup>
import WebHeader from "../components/WebHeader.vue";
import WebFooter from "../components/WebFooter.vue";
</script>

<template>
  <WebHeader />
  <div class="about">
    <h1>This is an about page</h1>
  </div>
  <WebFooter />
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
