<script>
import WebAboutUs from "../components/WebAboutUs.vue";
import WebContactUs from "../components/WebContactUs.vue";
import WebFooter from "../components/WebFooter.vue";
import WebHeader from "../components/WebHeader.vue";
import WebHero from "../components/WebHero.vue";
import WebService from "../components/WebServiceNew.vue";
import MobileHeader from "../components/MobileHeader.vue";
import WebTestimonials from "../components/WebTestimonials.vue";

export default {
  name: "home",
  data() {
    return {
      mode: "light",
    };
  },
  watch: {
    mode: function () {
      localStorage.setItem("mode", JSON.stringify(this.mode));
    },
  },
  created() {
    this.mode = JSON.parse(localStorage.getItem("mode"));
  },
  components: {
    WebAboutUs,
    WebContactUs,
    WebFooter,
    WebHeader,
    WebHero,
    WebService,
    MobileHeader,
    WebTestimonials
},
  methods: {
    toggle() {
      if (this.mode === "dark") {
        this.mode = "light";
      } else {
        this.mode = "dark";
      }
    },
  },
};
</script>

<template>
  <div class="home" :class="mode">
    <MobileHeader :mode="mode" @toggle="toggle"/>
    <WebHeader :mode="mode" @toggle="toggle" />
    <WebHero />
    <WebAboutUs id="aboutUs"/>
    <WebService id="services"/>
    <WebTestimonials id="testimonials"/>
    <WebContactUs id="contactUs"/>
    <WebFooter />
  </div>
</template>

<style lang="scss">
.home {
  background: var(--background-light);
  transition: background 0.23s ease;
}
.btnCta {
  border-style: none;
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.dark {
  background: var(--background-dark);
  transition: background 0.23s ease;
  .btnCta {
    border-style: none;
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--primary-light);
    color: var(--primary);
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
@media (max-width: 375px) {

  .btnCta {
    border-style: none;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .dark {
    .btnCta {
      border-style: none;
      display: inline-flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: var(--primary-light);
      color: var(--primary);
      font-family: Lato;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
</style>
