<script>
import WebHeader from "../components/WebHeader.vue";
import WebFooter from "../components/WebFooter.vue";

export default {
  name: "underConstruction",
  data() {
    return {
      mode: "light",
    };
  },
  watch: {
    mode: function () {
      localStorage.setItem("mode", JSON.stringify(this.mode));
    },
  },
  created() {
    this.mode = JSON.parse(localStorage.getItem("mode"));
  },
  components: {
    WebFooter,
    WebHeader,
  },
  methods: {
    toggle() {
      if (this.mode === "dark") {
        this.mode = "light";
      } else {
        this.mode = "dark";
      }
    },
  },
};
</script>

<template>
  <div class="underConstruction" :class="mode">
    <WebHeader :mode="mode" @toggle="toggle" />
    <div class="content">
      <h1>THIS PAGE IS UNDER CONSTRUCTION</h1>
      <h3>Exciting things are being built here! Check back soon.</h3>
      <img
        class="constructionImg"
        src="../assets/under-construction.png"
        alt=""
      />
    </div>
    <WebFooter />
  </div>
</template>

<style lang="scss">
template {
  margin: 0;
  padding: 0;
}
.underConstruction {
  background: var(--background-light);
  transition: background 0.23s ease;

  .content {
    background: var(--background-light);
    transition: background 0.23s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.dark {
  background: var(--background-dark);
  transition: background 0.23s ease;

  .content {
    background: var(--background-dark);
    transition: background 0.23s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.constructionImg {
  padding: 2rem 0;
  
}
</style>
