<script>
import Toggle from "./Toggle.vue";

export default {

  props: ["mode"],
  components: {
    Toggle,
  },
  
  data() {
    return {
      windowWidth: "",
      menuOpen: "",
      buttonShow: "",
    };
  },
  methods: {
    getWindowWidth($event) {
      this.windowWidth = window.innerWidth;
      this.buttonShow = this.windowWidth <= 768;
    },
    changeSection(sectionID) {
      location.hash = sectionID;
      this.menuOpen = !this.menuOpen
    }
  },
  created() {
    window.addEventListener("resize", this.getWindowWidth);
  },
  beforeUnmount() {
    window.removeEventListener("resize", this.getWindowWidth);
  },
  mounted: function () {
    this.getWindowWidth();
  },
  sideMenuToggle() {
    if (menuOpen) {
      this.menuOpen = false;
    }
  }
};
</script>

<template>
  <header class="header">
    <button
      v-show="buttonShow"
      class="menu-button"
      :class="{ open: menuOpen }"
      @click="menuOpen = !menuOpen"
    >
      <span class="menu-button__bar menu-button__bar--top"></span>
      <span class="menu-button__bar menu-button__bar--center"></span>
      <span class="menu-button__bar menu-button__bar--bottom"></span>
    </button>
    <transition name="fade">
      <nav v-show="menuOpen" class="nav" :class="{ 'sp-menu': buttonShow }">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="/" class="nav__link nav__link--current">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" @click="changeSection('#aboutUs')">About Us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" @click="changeSection('#services')">Services</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" @click="changeSection('#testimonials')">Testimonials</a>
          </li>
          <li class="nav__item">
            <Toggle class="modeSwitchBtn" :mode="mode" @toggle="$emit('toggle')" />
          </li>
        </ul>
      </nav>
    </transition>
  </header>
</template>

<style lang="scss" scoped>

.dark {
  .menu-button__bar {
    background: #fff;
  }

  .header {
    color: #3c3946;
  }

  .nav {
  &.sp-menu {
    color: #3c3946;
    background: #3c3946;
  }
  .sp-menu {
    color: #3c3946;
  }
  .nav__link {
    color: #fff;
  }
  }
}

@media (min-width: 769px) {
    .nav {
      display: none;
    }
}

@media (max-width: 768px) {
  .header {
    z-index: 4;
    position: relative;
    padding: 0.5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    background: transparent;
    color: #fefefc;
  }

  .header__title {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.8rem;
  }

  .menu-button {
    appearance: none;
    position: fixed;
    top: calc((3.8rem - 44px) / 2);
    right: 15px;
    display: inline-block;
    width: 50px;
    height: 44px;
    background: none;
    border: none;
    z-index: 10;
    cursor: pointer;
    margin-top: 2rem;
  }

  .modeSwitchBtn {
    appearance: none;
    position: fixed;
    bottom: calc((3.8rem - 44px) / 2);
    right: 15px;
    display: inline-block;
    width: 50px;
    height: 44px;
    background: none;
    border: none;
    z-index: 10;
    cursor: pointer;
    margin-top: 2rem;
  }

  .menu-button__bar {
    position: absolute;
    top: 0;
    left: 10%;
    display: inline-block;
    width: 50%;
    height: 3px;
    border-radius: 4px;
    background: #000000;
    transition: all 0.4s;
  }

  .menu-button__bar--top {
    top: 6px;
  }

  .menu-button__bar--center {
    top: 20px;
  }

  .menu-button__bar--bottom {
    top: 36px;
  }

  .menu-button.open .menu-button__bar--top {
    top: 20px;
    transform: rotate(-45deg);
  }

  .menu-button.open .menu-button__bar--center {
    left: 50%;
    opacity: 0;
    transform: rotate(135deg);
  }

  .menu-button.open .menu-button__bar--bottom {
    top: 20px;
    transform: rotate(45deg);
  }

  .nav {
    &__list {
    display: flex;
    gap: 1rem;
    list-style: none;
    text-transform: uppercase;
  }
  &.sp-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px;
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    background: #fefefc;
    padding-top: 10rem;
  }
  &.sp-menu & {
    &__list {
      text-align: center;
      display: flex;
      flex-direction: column;
      & > * + * {
        margin-top: 2em;
      }
    }
  }
  &__link {
    position: relative;
    color: inherit;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
  &__link--current {
    pointer-events: none;
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      left: 0;
      width: 100%;
      height: 2px;
      background: currentColor;
    }
  }
  }

  .sp-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px;
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    background: #fefefc;
  }

  .sp-menu .nav__list {
    display: flex;
    flex-direction: column;
  }

  .sp-menu .nav__list > * + * {
    margin-top: 1rem;
  }

  .nav__link {
    position: relative;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }

  .nav__link--current {
    pointer-events: none;
  }

  .nav__link--current::after {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.4s ease, transform 0.4s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
}

.header {
  z-index: 4;
  position: relative;
  padding: 0.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  background: transparent;
  color: #fefefc;
  &__title {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.8rem;
  }
}

.menu-button {
  appearance: none;
  position: fixed;
  top: calc((3.8rem - 44px) / 2);
  right: 15px;
  display: inline-block;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  z-index: 10;
  cursor: pointer;
  &__bar {
    position: absolute;
    top: 0;
    left: 10%;
    display: inline-block;
    width: 50%;
    height: 3px;
    border-radius: 4px;
    background: #000000;
    transition: all 0.4s;
    &--top {
      top: 6px;
    }
    &--center {
      top: 20px;
    }
    &--bottom {
      top: 36px;
    }
  }
  &.open & {
    &__bar {
      &--top {
        top: 20px;
        transform: rotate(-45deg);
      }
      &--center {
        left: 50%;
        opacity: 0;
        transform: rotate(135deg);
      }
      &--bottom {
        top: 20px;
        transform: rotate(45deg);
      }
    }
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
</style>
