<script>
export default {
  props: ["mode"],
};
</script>

<template>
  <div class="toggle-wrapper">
    <label class="toggle">
      <input
        type="checkbox"
        :checked="mode === 'dark' ? 'checked' : false"
        @change="$emit('toggle')"
      />
      <span class="toggler round"></span>
    </label>
  </div>
</template>

<style lang="scss" scoped>
.toggle {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggler {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../assets/modeButton-light.svg);
  background-repeat: no-repeat;
  background-size: cover; /* Adjust as needed, e.g., 'contain', '100% auto', etc. */
  background-position: center center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggler {
  background: url(../assets/modeButton-dark.svg);
  background-repeat: no-repeat;
  background-size: cover; /* Adjust as needed, e.g., 'contain', '100% auto', etc. */
  background-position: center center;
}
</style>
