<script>
export default {
  props: ["mode"],
};
</script>

<template>
  <section class="aboutUs" :class="mode">
    <div class="container">
      <div class="left-column">
        <div class="image-container">
          <img src="../assets/mockup.png" alt="Mockup" />
        </div>
      </div>
      <div class="right-column-aboutUs">
        <h1>About Us</h1>
        <h3>
          Empowering <span class="innoendoRainbow-text">innovation</span>,
          Building
          <span class="innoendoRainbow-text">exellence</span>
        </h3>

        <p class="aboutUsBody">
          Innoendo IT Solutions is a tech start-up builder and business
          consultant in General Santos City. We specialize in web app
          development using AWS and serverless architecture. Our team has
          expertise in web3, blockchain, HTML5 games, and mobile app
          development. We also offer training and seminars.
        </p>
        <!-- <router-link to="/about">
          <button class="btnCta" >Learn More About Us</button>
        </router-link> -->
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>

.aboutUs {
  background-image: url("../assets/circles.svg");
  height: 929px;
  background-repeat: no-repeat, no-repeat;
  background-position: left;
}
.container {
  margin: 0px 128px;
  display: flex;
  align-items: center;
  gap: 20px;  

}
.btnCta {
  border-style: none;
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.image-container {
  margin-top: 12rem;
  margin-left: -7rem;
}
.right-column-aboutUs {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.aboutUsBody {
  text-align: right;
  margin-bottom: 24px;
  line-height: 32px; /* 100% */
  margin-top: 24px;
}
.left-column {
  flex: 1;
  z-index: 1;
}
.right-column {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}
h1 {
  text-align: right;
  font-family: Josefin Sans;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0;
}
h3 {
  text-align: right;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0;
}

@media (max-width: 1024px) {
  .aboutUs {
    background-image: url("../assets/circles.svg");
    height: 60vh;
    background-repeat: no-repeat, no-repeat;
    background-position: left;
    display: flex;
    align-items: center;
  }
  .btnCta {
    width: 100%;
    border-style: none;
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #000;
    color: #fff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .container {
    margin: 0px 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 24px 96px;
  }
  .container {
    .right-column-aboutUs {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }
  .left-column {
    display: none;
  }
  h1 {
    text-align: left;
    font-family: Josefin Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  h3 {
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }
  .aboutUsBody {
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.4px;
  }
}

@media (max-width: 768px) {
  .aboutUs {
    background-image: url("../assets/circles.svg");
    height: 60vh;
    padding-top: 56px;
    background-repeat: no-repeat, no-repeat;
    background-position: left;
    display: flex;
    align-items: center;
  }
  .btnCta {
    width: 100%;
    border-style: none;
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #000;
    color: #fff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .container {
    margin: 0px 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 24px 96px;
  }
  .container {
    .right-column-aboutUs {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }
  .left-column {
    display: none;
  }
  h1 {
    text-align: left;
    font-family: Josefin Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  h3 {
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }
  .aboutUsBody {
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.4px;
  }
}
@media (max-width: 425px) {
  .aboutUs {
    background-image: url("../assets/circles.svg");
    height: 80dvh;
    background-repeat: no-repeat, no-repeat;
    background-position: left;
    display: flex;
    align-items: center;
    
    scroll-margin-top: -114px;
  }
  .btnCta {
    width: 100%;
    border-style: none;
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #000;
    color: #fff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .container {
    margin: 0px 1rem;
    display: flex;
    align-items: center;
  }
  .container {
    .right-column-aboutUs {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }
  .left-column {
    display: none;
  }
  h1 {
    text-align: left;
    font-family: Josefin Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  h3 {
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }
  .aboutUsBody {
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.4px;
  }
}
</style>
