<script setup>
import emailRequest from '../requests/email.request';
import { reactive } from 'vue';

const formData = reactive({
  name: '',
  email: '',
  message: '',
  phone: '',
})


async function submitInquiry() {
  console.log(await emailRequest.postContactUs(formData))
}
</script>

<template>
  <div class="contactUs">
    <div class="imageOverlay" />
    <div class="imageHueOverlay" />
    <div class="imageContainer">
      <img src="..\assets\contact-us.jpg" alt="Contact Us Image" />
    </div>
    <section class="content">
      <div class="left">
        <h1>
          Need <span class="innoendoRainbow-text">Assistance</span>? We're Here
          to Help You!
        </h1>
      </div>
      <div class="right">
        <h3>SEND US A MESSAGE TODAY!</h3>
        <div class="form__group">
          <input
            type="text"
            id="name"
            class="form__field"
            v-model="formData.name"
            placeholder="Full Name"
          />
          <label for="email" class="form__label">Full Name</label>
        </div>
        <div class="inline-group">
          <div class="form-group-inline">
            <input
              type="text"
              id="phone"
              v-model="formData.phone"
              class="form__field"
              placeholder="Phone number"
            />
            <label for="email" class="form__label">Phone</label>
          </div>
          <div class="form-group-inline">
            <input
              type="email"
              id="email"
              v-model="formData.email"
              class="form__field"
              placeholder="Your Email"
            />
            <label for="email" class="form__label">Email</label>
          </div>
        </div>
        <div class="form__group">
          <textarea
            id="message"
            class="form__field"
            v-model="formData.message"
            placeholder="Your Message"
            rows="6"
          ></textarea>
          <label for="message" class="form__label"
            >To better assist you, please describe how we can help.
          </label>
        </div>
        <div class="checkbox-section">
          <input type="checkbox" name="checkbox" value="value" class="fs1" />
          <p>
            By checking this box, I consent to allow Innoendo IT Solutions to
            store and process my personal info. We respect your privacy and will
            not share your personal information with any other company, person
            or identity. (Required)
          </p>
        </div>

        <button class="btnCta" @click="submitInquiry">Submit</button>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
.checkbox-section {
  margin: 0.5rem 0;
  display: inline-flex;
  align-items: center;
}

.checkbox-section input {
  padding-right: 1rem;
}
h3 {
  color: #000;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 90% */
  letter-spacing: 0.2px;
  margin: 0 0;
}
p {
  font-size: 12px;
}
.contactUs {
  position: relative;
  margin-top: 0;
  background-image: url("../assets/cirlces-contactUs.svg");
  height: 929px;
  background-repeat: no-repeat, no-repeat;
  background-position: right top;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contactUs::after {
  content: "";
  position: absolute; 
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 100% 15%,
    rgba(178, 157, 201, 0.318),
    rgba(169, 157, 201, 0.3) 7%,
    rgba(255, 214, 215, 0.517) 20%,
    rgba(255, 214, 215, 0.529) 23%,
    rgba(255, 214, 215, 0.517) 20%,
    rgba(255, 214, 215, 0.529) 23%,
    rgba(255, 247, 200, 0.383) 30%,
    transparent 50%
  );
}
.content {
  width: 100%;
  height: 699px;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5rem;

  align-items: center;
  .left {
    width: 50%;
    h1 {
      margin: 0;
    }
  }
  .right {
    border-radius: 10px;
    padding: 2rem 2rem;
    display: flex;
    width: 50vh;
    flex-direction: column;
    align-items: flex-start;
    // height: 506px;
    background-color: #fbf8fd;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
      0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  }
}
.imageContainer {
  position: absolute;
  display: flex;
  align-items: center;
  width: calc(100% - 124px);
  height: 699px;
  justify-content: center;
  margin-left: 62px;
  margin-right: 62px;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 0;
}
.imageOverlay {
  z-index: 1;
  position: absolute;
  height: 699px;
  width: 93.2%;
  border-radius: 20px;
  background-color: rgba(243, 243, 243, 0.8);
}

.inline-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.form-group-inline {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 15px 0 0;
  margin-top: 8px;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 8px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  outline: 0;
  font-size: 16px;
  color: #212121;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

label,
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}

.form__field:focus ~ .form__label {
}

.form__field:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid #ffffff;
}
input[type="checkbox"] {
  width: 1em;
  height: 1em;
  font: inherit;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: 0.125em;
  box-sizing: border-box;
  border: 0.125em solid #9e9e9e;
  box-shadow: inset 0 0 0 0 #000000;
  position: relative;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    border-color 0s linear 0.17s,
    -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    border-color 0s linear 0.17s,
    -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s;
  transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s linear 0.17s,
    -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"]:checked {
  border-color: #000000;
  box-shadow: inset 0 0 0 0.5em #000000;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    border-color 0s, -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s,
    -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s;
  transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1), border-color 0s,
    -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
}

input[type="checkbox"]:before,
input[type="checkbox"]:after {
  content: "";
  background: #fff;
  height: 1em;
  width: 1em;
  position: absolute;
  -webkit-transform: translate(0.2728em, 0.4279em) rotate(44.91deg)
    scale(0.3411, 0.1);
  transform: translate(0.2728em, 0.4279em) rotate(44.91deg) scale(0.3411, 0.1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    -webkit-transform 0.3s cubic-bezier(0.2, 0.3, 0, 1);
  top: -0.125em;
  left: -0.125em;
}

input[type="checkbox"]:after {
  -webkit-transform: translate(0.8494em, 0.35em) rotate(135.22deg)
    scale(0.5612, 0.1);
  transform: translate(0.8494em, 0.35em) rotate(135.22deg) scale(0.5612, 0.1);
}

input[type="checkbox"]:not(:checked):before {
  -webkit-transform: translate(0.505em, 0.455em) rotate(44.91deg)
    scale(0.1, 0.1);
  transform: translate(0.505em, 0.455em) rotate(44.91deg) scale(0.1, 0.1);
  /* opacity: 0; */
}

input[type="checkbox"]:not(:checked):after {
  -webkit-transform: translate(0.575em, 0.525em) rotate(135.22deg)
    scale(0.1, 0.1);
  transform: translate(0.575em, 0.525em) rotate(135.22deg) scale(0.1, 0.1);
  /* opacity: 0; */
}
input.fs1 {
  font-size: 20px;
  margin-right: 10px;
}

.dark {
  h3 {
    color: var(--textColor-dark);
    font-family: Josefin Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 90% */
    letter-spacing: 0.2px;
    margin: 0 0;
  }
  .imageOverlay {
    z-index: 1;
    position: absolute;
    height: 699px;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .imageHueOverlay {
    z-index: 1;
    position: absolute;
    height: 699px;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 1);
    mix-blend-mode: color;
  }

  .right {
    border-radius: 10px;
    padding: 2rem 2rem;
    display: flex;
    width: 50vh;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.11) 0%,
        rgba(255, 255, 255, 0.11) 100%
      ),
      #000;

    /* M3/Elevation Dark/3 */
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
      0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  }
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--primary-light);
    outline: 0;
    font-size: 16px;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    color: var(--textColor-dark);
  }
}

@media (max-width: 1024px) {

  .content {
  flex-direction: column;
    .left {
      margin-bottom: 20px;
      width: 100%;

      h1{
        text-align: center;
      }
    }
  }

}

@media (max-width: 768px) {

  .imageOverlay {
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(243, 243, 243, 0.8);
  }
  .imageContainer {
    position: absolute;
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100%;
    justify-content: center;
    
  }
  .left {
    display: none;
  }
  .content {
    .right {
    padding: 3rem 3rem;
    display: flex;
    width: 100%;
  }
  }
}
@media (max-width: 425px) {
  .inline-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 100%;
  }
  .imageContainer {
    display: none;
  }
  .left {
    display: none;
  }
  .content {
    .right {
    padding: 3rem 3rem;
    display: flex;
    width: 100%;
  }
  }
  .imageOverlay {
    display: none;
  }
  .imageHueOverlay {
    display: none;
  }

  .btnCta {
    width: 100%;
  }
}
</style>
