<script setup>
import { RouterLink } from "vue-router";
import { Icon } from "@iconify/vue";
</script>

<template>
  <footer class="footer">
    <div class="container">
      <div class="logo-container">
        <div class="left-rectangle" />
        <RouterLink to="/">
          <div class="footerLogo" alt="Innoendo I.T. Solutions" />
        </RouterLink>
        <div class="right-rectangle" />
      </div>
      <br>
      <section class="routeContainer">
        <ul class="footer-routes">
        <li><a href="#aboutUs">ABOUT US</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#testimonials">TESTIMONIALS</a></li>
        </ul>
      </section>
      <div class="footerIcons">
        <a
          href="https://www.facebook.com/innoendoitsolutions"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon icon="ic:baseline-facebook" width="27" />
        </a>
        <a
          href="https://www.linkedin.com/company/innoendo-it-solutions/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon icon="entypo-social:linkedin-with-circle" width="24" />
        </a>
      </div>
    </div>
    <p class="copyright">COPYRIGHT 2022 INNOENDO IT SOLUTIONS</p>
  </footer>
</template>

<style lang="scss" scoped>
.footer {
  margin-top: 5rem;
  height: auto;
  background-repeat: no-repeat, no-repeat;
  background-position: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.copyright {
  color: #818181;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 4rem;
}
.footerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 32px 0;

  a {
    color: #000;
  }
}
.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footerLogo {
  background-image: url("../assets/footerLogo-light.png");
  background-size: cover;
  display: flex;
  width: 289px;
  height: 217px;
  justify-content: center;
  align-items: center;
}
.routeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49px;
  align-self: stretch;
}
.footer-routes {
  padding: 24px 0px;
  display: flex;
  justify-content: space-evenly;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style-type: none;

  a {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.dark {
  .footerLogo {
    background-image: url("../assets/footerLogo-dark.png");
    background-size: cover;
    display: flex;
    width: 289px;
    height: 217px;
    justify-content: center;
    align-items: center;
  }
  .footer-routes {

  a {
    color: #fff;
  }
}
  .copyright {
    color: #ffffff;
    opacity: 40%;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 4rem;
  }

  .footerIcons {
    a {
      color: #fff;
    }
  }
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  align-self: stretch;
}

.left-rectangle{
  height: 6px;
  flex: 1 0 0;
}
.right-rectangle {
  height: 6px;
  flex: 1 0 0;
}

.left-rectangle {
  background: linear-gradient(
    90deg,
    #00a14b 0%,
    #223f99 33.33%,
    #ec1c24 66.67%,
    #ffdd15 100%
  );
}

.right-rectangle {
  background: linear-gradient(
    90deg,
    #ffdd15 0%,
    #ec1c24 33.33%,
    #223f99 66.67%,
    #00a14b 100%
  );
}
@media (max-width: 425px) {
  .footerLogo {
    background-image: url("../assets/footerLogo-light.png");
    background-size: cover;
    display: flex;
    width: 120px;
    height: 80px;
    border: none;

    justify-content: center;
    align-items: center;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    align-self: stretch;
  }
  .footer-routes {
    display: flex;
    padding: 24px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;


  }
  .footerIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 0;
    padding-bottom: 24px;

    a {
      color: #000;
    }
  }

  .dark {
    .footerLogo {
      background-image: url("../assets/footerLogo-dark.png");
      background-size: cover;
      display: flex;
      width: 120px;
      height: 80px;
      border: none;
    }
  }
}
</style>
