<script>
import WebAboutUs from './WebAboutUs.vue';


export default {
  props: ["mode"],
};
</script>

<template>
  <section class="hero" :class="mode">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <div class="gradient-overlay"></div>
    <div class="gradient-overlay-layer"></div>
    <video class="video-bg" autoplay muted loop>
      <source src="../assets/heroVid.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="container">
      <div class="left-column">
        <h1>
          YOUR PARTNER IN
          <span class="innoendoRainbow-text">INNOVATION</span> AND TECHNOLOGY
        </h1>
        <p class="heroBody">
          We provide tailored solutions that elevate your online presence. From
          custom software to web hosting, let's turn your vision into reality
          and take your business to the next level. Let's innovate together!
        </p>
        <button class="btnCta" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/innoendoitsolutions/30min'})">
          Book a free consultation
        </button>
      </div>
      <div class="right-column">
        <img class="heroLogo"/>
      </div>
    </div>
    <div class="scroll-icon-container">
      <p style="text-align: center;">SCROLL</p>
      <a href="/#aboutUs" class="scroll-icon"><img></a>
    </div>
  </section>
</template>

<style lang="scss" scoped>

.btnCta a {
  text-decoration: none;
  color: inherit
}

.hero {
  margin-top: 3rem;
  background-image: url("../assets/heroVid.mp4");
  height: 80vh;
}
.scroll-icon {
    content: url("../assets/arrowDown.png");
    padding: 12px 24px;
    margin-top: 5px;
    width: 25px;
}
.scroll-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}
.heroLogo {
  content: url("../assets/heroLogo-light.png");
  background-size: cover;
  display: flex;
  width: 612px;
  height: 381.52px;
  flex-shrink: 0;
} 
.container {
  margin: 0px 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.heroBody {
  margin: 24px 0px;
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}
.gradient-overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-color: rgba(243, 243, 243, 0.5);
  transition: background 0.4s ease;
  z-index: 1;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background: linear-gradient(
    to bottom,
    rgba(243, 243, 243, 0.4) 0%,
    rgba(243, 243, 243, 1) 100%
  );
  z-index: 1;
}
.left-column {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
}
.right-column {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
h1 {
  font-family: Josefin Sans;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 91.7%; /* 55.02px */
  text-transform: uppercase;
  margin: 0 0;
}

.dark {
  .heroLogo {
    content: url("../assets/heroLogo-dark.png");
  }
  .scroll-icon {
    content: url("../assets/arrow-down-light.png");
    padding: 12px 24px;
    margin-top: 5px;
    width: 25px;
}
  .gradient-overlay-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-color: rgba(18, 18, 18, 0.7);
    transition: background 0.4s ease;
    z-index: 1;
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: linear-gradient(
      to bottom,
      rgba(18, 18, 18, 0.4) 0%,
      rgba(18, 18, 18, 1) 100%
    );
    z-index: 1;
  }
  h1 {
    color: rgb(255, 255, 255);
  }
}


@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 24px 24px 96px;
  }
  .hero {
    margin-top: 15rem;
    background-image: url("../assets/heroVid.mp4");
    height: 60vh;
  }
  .left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .btnCta {
    border-style: none;
    width: 100%;
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #000;
    color: #fff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .right-column {
    display: none;
  }
  h1 {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 91.7%; /* 44.933px */
    text-transform: uppercase;
  }
  .heroBody {
    width: auto;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 24px 24px 96px;
  }
  .hero {
    margin-top: 3rem;
    background-image: url("../assets/heroVid.mp4");
    height: 70vh;
  }
  .scroll-icon-container {
  position: absolute;
  bottom: 132px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}
  .left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .btnCta {
    border-style: none;
    width: 100%;
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #000;
    color: #fff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .right-column {
    display: none;
  }
  h1 {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 91.7%; /* 44.933px */
    text-transform: uppercase;
  }
  .heroBody {
    width: auto;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }
}
@media (max-width: 425px) {
  .hero {
    margin-top: 1rem;
    background-image: url("../assets/heroVid.mp4");
    
  }

  .scroll-icon-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}

  .container {
    margin: 0px 1rem;
    display: flex;
    align-items: center;
  }
  
  .left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .btnCta {
    border-style: none;
    width: 100%;
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #000;
    color: #fff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .right-column {
    display: none;
  }
  h1 {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .heroBody {
    width: auto;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }
}
</style>
