<script>
import { RouterLink } from "vue-router";
import Toggle from "./Toggle.vue";
export default {
  props: ["mode"],
  components: {
    Toggle,
  },
};
</script>

<template>
  <header>
    <nav class="container">
      <div class="branding">
        <RouterLink to="/">
          <img class="navLogo" alt="" />
        </RouterLink>
      </div>
      <ul class="nav-routes">
        <li><a href="#aboutUs">ABOUT US</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#testimonials">TESTIMONIALS</a></li>
      </ul>
      <div>
        <a class="navGetTouchBtn" href="/#contactUs">Get in Touch</a>
      </div>
      <div>
        <Toggle class="modeSwitchBtn" :mode="mode" @toggle="$emit('toggle')" />
      </div>
      <div class="mobileNav">
        <RouterLink class="navLogoContainerMobile" to="/">
          <img class="navLogoMobile" alt="" />
        </RouterLink>
      </div>
    </nav>
  </header>
</template>

<style lang="scss" scoped>
* {
  z-index: 2;
}
.navLogo {
  content: url("../assets/headerLogo-light.png");
  width: 162px;
  min-height: 122px;
}

.dark {
  .navLogo {
    content: url("../assets/headerLogo-dark.png");
    width: 162px;
    min-height: 122px;
  }

  .navGetTouchBtn {
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--primary-light);
    color: var(--primary-light);
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
  }

  @media (max-width: 768px) {
  .navLogoMobile {
    content: url("../assets/headerLogo-dark.png");
    }
  }
}

header {
  nav {
    display: flex;
    align-items: center;
    margin: 18px 112px;

    .navGetTouchBtn {
      display: inline-flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1px solid #000;
      font-family: Lato;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: transparent;
      color: var(--primary);
      text-decoration: none;
    }

    .modeSwitchBtn {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      margin-left: 16px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .branding {
      display: flex;
      align-items: center;
      gap: 8px;

      h1 {
        font-size: 24px;
      }
    }

    .nav-routes {
      padding: 0 0;
      align-items: center;
      display: inline-flex;
      flex: 1;
      justify-content: center;
      gap: 98px;
      list-style: none;

      a {
        text-decoration: none;
        color: inherit;
        text-align: center;
        font-family: Josefin Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

@media (max-width: 1024px) {

  .nav-routes {
      gap: 20px !important;
    }

}

@media (max-width: 768px) {
  .branding {
    display: none;
  }
  .mobileNav {
    position: fixed;
    top: calc((3.8rem - 50px) / 2);
    left: 15px;
    display: inline-block;
    width: 100%;
    padding: 24px 12px;
    justify-content: space-between;
    align-items: center;
  }
  .navLogoContainerMobile {
    display: flex;
    width: 98px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .navLogoMobile {
    content: url("../assets/headerLogo-light.png");
    width: 98px;
    height: 72px;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .navLogo {
    display: none;
  }
  .navMenuContainer {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .navMenuImg {
    content: url("../assets/menu.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  header nav {
    margin: 5rem 12px 24px 12px;
    padding: 30px 16px;

    .nav-routes {
      display: none;
    }

    .branding {
      h1 {
        font-size: 20px;
      }
    }

    .navLogo {
      width: 120px;
      min-height: 90px;
    }

    .navGetTouchBtn {
      display: none;
    }

    .modeSwitchBtn {
      display: none;
    }
  }
}
@media (max-width: 425px) {
  .branding {
    display: none;
  }
  .mobileNav {
    display: flex;
    width: 100%;
    padding: 24px 12px;
    justify-content: space-between;
    align-items: center;
  }
  .navLogoContainerMobile {
    display: flex;
    width: 98px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .navLogoMobile {
    content: url("../assets/headerLogo-light.png");
    width: 98px;
    height: 72px;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .navLogo {
    display: none;
  }
  .navMenuContainer {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .navMenuImg {
    content: url("../assets/menu.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  header nav {
    margin: 8rem 12px 24px 12px;
    padding: 0 16px;

    .nav-routes {
      display: none;
    }

    .branding {
      h1 {
        font-size: 20px;
      }
    }

    .navLogo {
      width: 120px;
      min-height: 90px;
    }

    .navGetTouchBtn {
      display: none;
    }

    .modeSwitchBtn {
      display: none;
    }
  }
}
</style>
