<script>
// import Swiper core and required modules
import { Navigation, EffectCoverflow } from "swiper/modules";

// Import Swiper Vue.js components
import { Swiper, SwiperSlide, useSwiper, useSwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/scrollbar";

// Import Swiper styles
export default {
  components: {
    Swiper,
    SwiperSlide,
  },

  setup() {
    const swiper = useSwiper();
    const swiperSlide = useSwiperSlide();

    return {
      swiper,
      swiperSlide,
      modules: [Navigation, EffectCoverflow],
    };
  },

  data() {
    return {
      slides: [
        {
          title: "Web Development",
          description: "Elevate your online presence with our bespoke web development services.",
        },
        {
          title: "Business Consultation",
          description: "Experienced consultants bringing innovative solutions for diverse business challenges.",
        },
        {
          title: "Mobile App Development",
          description: "Custom, user-friendly app solutions for both iOS and Android platforms.",
        },
        {
          title: "Software Developer Outsourcing",
          description: "Access to a global pool of skilled developers for all your project needs.",
        },
        {
          title: "Corporate trainings",
          description: "Comprehensive, hands-on courses tailored to empower developers with modern web technologies and best practices.",
        },
      ],
    };
  },
  methods: {
    slidePrev() {
      const swiper = document.querySelector(".swiper").swiper;
      swiper.slideNext();
    },
    slideNext() {
      const swiper = document.querySelector(".swiper").swiper;
      swiper.slidePrev();
    },
    onClickLearnMore() {
      location.hash = "#contactUs"
    }
  },
};
</script>

<template>
  <div class="container-services">
    <section class="title-container">
      <h1>Services</h1>
      <h3>WHAT CAN <span class="innoendoRainbow-text">INNOENDO</span> DO FOR YOU?</h3>
    </section>
    <div class="swiper-container">
      <swiper
        ref="swiper"
        :loop="true"
        :modules="modules"
        :slides-per-view="3"
        :slides-per-group="1"
        :centered-slides="true"
        effect="coverflow"
        :breakpoints="{
          '320': {
            slidesPerView: 1,
            spaceBetween: 10,
          },
          '375': {
            slidesPerView: 1,
            spaceBetween: 10,
          },
          '425': {
            slidesPerView: 1,
            spaceBetween: 10,
          },
          '768': {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          '1024': {
            slidesPerView: 3,
            spaceBetween: 30,
          },
        }"
        :coverflowEffect="{
          rotate: 0,
          stretch: 0,
          depth: 100,
          modifier: 3,
          slideShadows: false,
        }">
        <swiper-slide v-for="(data, index) in slides" :key="index" v-slot="{ isActive }">
          <div class="card">
            <img src="https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="slide-one-image" class="img-fluid" />
            <article>
              <h4>{{ data.title }}</h4>
              <p class="truncate-3-lines">{{ data.description }}</p>
              <a href="/#contactUs" class="btnCta">Learn More</a>
            </article>
          </div>
        </swiper-slide>
      </swiper>
      <div class="custom-swiper-navigation">
        <div class="custom-swiper-button-prev" @click="slidePrev()"></div>
        <div class="custom-swiper-button-next" @click="slideNext()"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.container-services {
  padding-top: 5rem;
  width: 100%;
  background: radial-gradient( 
    circle at 100% 120%,
    rgba(178, 157, 201, 0.318),
    rgba(169, 157, 201, 0.3) 7%,
    rgba(255, 214, 215, 0.517) 20%,
    rgba(255, 214, 215, 0.529) 23%,
    rgba(255, 214, 215, 0.517) 20%,
    rgba(255, 214, 215, 0.529) 23%,
    rgba(255, 247, 200, 0.2) 30%,
    transparent 50%  );
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    * {
      margin: 0;
    }
  }

  .swiper-container {
    padding: 0 10%;

    .swiper-slide {
      background-color: transparent;
      margin: 2rem 0;
      display: flex;
      justify-content: center;
      transition: height 0.3s; /* Add transition */
      border-radius: 10px;

      .card {
        text-align: center;
        text-wrap: balance;
        border-radius: 10px;
        height: 512px;
        width: 381px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
        background: #f3f3f3;

        img {
          display: flex;
          border-radius: 10px 10px 0 0;
          width: 100%;
          height: 229px;
        }

        article {
          padding: 2rem;

          h4 {
            margin: 0;
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;
            font-family: Josefin Sans;
          }
          p {
            font-size: 15px;
            font-family: Lato;
            line-height: 20px;
            margin: 0.5rem;
          }
          a {
            margin-top: 2rem;
            display: block;
            text-decoration: none;
          }
        }
      }
    }

    .swiper-slide-active {
      .card {
        img {
          width: 333px;
          margin: 20px 20px 0 20px;
          border-radius: 10px;
        }
      }
    }

    .custom-swiper-navigation {
      position: relative;
      display: flex;
      justify-content: space-between;
      top: -300px;
    }

    .custom-swiper-button-prev,
    .custom-swiper-button-next {
      width: 50px;
      height: 50px;
      transition: 0.5s;
      float: left;
      box-shadow: -6px 6px 0 black;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
    }

    /* Adjust positioning as needed */
    .custom-swiper-button-prev {
      left: -8%;
      transform: rotate(45deg);
    }

    .custom-swiper-button-next {
      right: -8%;
      transform: rotate(-135deg);
    }
  }

  
    scroll-margin-top: 56px;
}

.dark {
  .swiper-container {
    .swiper-slide {
      background: #121212;
      margin: 2rem 0;
      display: flex;
      justify-content: center;
      transition: height 0.3s; /* Add transition */
      border-radius: 10px;

      .card {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.11) 100%), #000;
      }
    }
    .custom-swiper-button-prev,
    .custom-swiper-button-next {
      box-shadow: -6px 6px 0 #f3f3f3;
    }
  }
}

@media (max-width: 425px) {
  h1 {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  h3 {
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  .swiper-container {

  .swiper-slide {
      .card {
        width: 294px !important;
        height: 531px !important;
        img {
          width: 257.02px !important;
          margin: 20px 20px 0 20px;
          border-radius: 10px;
        }
        p {
          font-size: 12px;  
        }
      }
    }
  .custom-swiper-button-prev,
    .custom-swiper-button-next {
      width: 25px !important;
      height: 25px !important;
    }

    .custom-swiper-button-prev {
      margin-left: 5px;
    }

    .custom-swiper-button-next {
      margin-left: 5px;
    }
  }

}

@media (max-width: 375px) {

.swiper-container {

.swiper-slide {
    .card {
      width: 260px !important;
      height: 531px !important;
      img {
        width: 223.02px !important;
        margin: 20px 20px 0 20px;
        border-radius: 10px;
      }
    }
  }
}
}


@media (max-width: 320px) {

.swiper-container {

.swiper-slide {
    .card {
      width: 240px !important;
      height: 531px !important;
      img {
        width: 203.02px !important;
        margin: 20px 20px 0 20px;
        border-radius: 10px;
      }
    }
  }
}
}
</style>
