<script>
import businessConIcn from '../assets/services icons/business-consultation.svg'
import webDevIcn from '../assets/services icons/web-dev.svg'
import softwareDevIcn from '../assets/services icons/software-dev-outsourcing.svg'
import mobileAppIcn from '../assets/services icons/mobile-app-development.svg'
import customSoftwareIcn from '../assets/services icons/custom-software-development.svg'
import corpTrainingIcn from '../assets/services icons/corporate-trainings.svg'

export default {
  data() {
    return {
      services: [
        {
          title: "Web Development",
          description: "Elevate your online presence with our bespoke web development services.",
          icon: webDevIcn,
        },
        {
          title: "Business Consultation",
          description: "Experienced consultants bringing innovative solutions for diverse business challenges.",
          icon: businessConIcn,
        },
        {
          title: "Mobile App Development",
          description: "Custom, user-friendly app solutions for both iOS and Android platforms.",
          icon: mobileAppIcn,
        },
        {
          title: "Software Developer Outsourcing",
          description: "Access to a global pool of skilled developers for all your project needs.",
          icon: softwareDevIcn,
        },
        {
          title: "Corporate trainings",
          description: "Comprehensive, hands-on courses tailored to empower developers with modern web technologies and best practices.",
          icon: corpTrainingIcn
        },
        {
          title: "Custom Software Development",
          description: "Comprehensive, hands-on courses tailored to empower developers with modern web technologies and best practices.",
          icon: customSoftwareIcn 
        },
      ],
    };
  },
};
</script>

<template>
  <section>
    <div class="section-header">
      <h1 class="section-title">Services</h1>
      <p>WHAT CAN <span class="innoendoRainbow-text">INNOENDO</span> DO FOR YOU?</p>
    </div>
    <div class="section-body">
      <div class="card" v-for="service in services">
        <img class="service-icon"
          :src="service.icon"
          :alt="service.title + ' icon'">
        <h3 class="service-title">{{ service.title }}</h3>
        <p class="service-description">{{ service.description }}</p>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>

  section {
    background: none;
    scroll-margin: 82px;
    margin-bottom: 164px;
    padding-top: 64px;
  }

  .section-title {
    font-size:60px;
    font-weight: 700;
  }
  .section-header {
    text-align: center;
    margin-bottom:  32px;

    p {
      font-size: 28px;
      font-weight: 500;
    }
  }
  .section-body{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 32px;
    column-gap: 16px;

    justify-items: center;

    padding: 0 12%;
  }

  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    max-width: 385px;
    padding: 52px 21px 72px 21px;
    
    //border: 1px solid #0000004D;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 1px #00000026;



    text-align: center;
  }

  .service-icon {
    width: 72px;
    height: 72px;
    margin-bottom: 32px;
  }

  .service-title {
    font-size: 24px;
    font-weight: 700;
    font-family: Josefin Sans;
    line-height: 24px;
    letter-spacing: -1px;

    margin-bottom: 8px;
  }

  .service-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    font-family: Lato;
  }

@media (max-width: 1024px) {
    .section-body{
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 0 8% ;
    }
  }

  @media (max-width: 768px) {
    
    section {
    margin-bottom: 56px;
    }
    .section-body{
      display: grid;
      grid-template-columns: auto auto;

      padding: 0 8%;
    }
    
  }

@media (max-width: 425px) {

    section {
    margin-bottom: 0;
    }

    .section-title {
      font-size:36px;
      font-weight: 700;
    }

    .section-header {
      
      padding: 0 8px;
      p {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .section-body{
      display: grid;
      grid-template-columns: auto;
      row-gap: 0;

      padding: 0 8% ;
    }
    .card{
      margin: 0 8px 24px 8px;
    }
    .service-title{
      font-size: 36px;
    }
  }

  .dark {
    .card{
      background-color: #1C1C1C ;
    }
    .service-icon{
      filter: invert(1);
    }
  }
 </style>
