<script setup>
import img1 from "../assets/img1.png";
import img2 from "../assets/img2.png";
import img3 from "../assets/img3.png";
import avr1 from "../assets/avatar1.png";
import avr2 from "../assets/avatar2.png";
import avr3 from "../assets/avatar3.png";
import smallImg1 from "../assets/image1-topleft.png";
import smallImg2 from "../assets/image1-bottomRight.png";
import smallImg3 from "../assets/image2-bottomRight.png";
import smallImg4 from "../assets/image3-topleft.png";

import { ref } from 'vue';

const testimonials = ref([
  {
    image: img1,
    description: "Their team is Fast on delivery, have efficient output and very reliable.",
    author: "Jordan Cabasag",
    position: "Founder of ECFI.PH",
    avatar: avr1,
    url: "https://ec-fi.vercel.app/",
    rating: 5,
    smallImageTopLeft: smallImg1,
    smallImageTopLeftWidth: "134px", 
    smallImageTopLeftHeight: "73px", 
    smallImageBottomRight: smallImg2,
    smallImageBottomRightWidth: "69px", 
    smallImageBottomRightHeight: "32px",
  },
  {
    image: img2,
    description: "I love my website very much and they are very accommodating!",
    author: "Annette Dacanay",
    position: "CEO at Amid Creatives",
    avatar: avr2,
    url: "https://amidcreatives.com",
    rating: 5,
    smallImageBottomRight: smallImg3,
    smallImageBottomRightWidth: "94px", 
    smallImageBottomRightHeight: "39px",
  },
  {
    image: img3,
    description: "They have solutions to your problem. They will ask what you need and provide multiple solutions that suits your budget. High recommendable.",
    author: "Anot Martizano",
    position: "CEO at Martronix",
    avatar: avr3,
    url: "https://martronix.vercel.app/",
    rating: 4,
    smallImageTopLeft: smallImg4,
    smallImageTopLeftWidth: "115px", 
    smallImageTopLeftHeight: "58px", 
  },
  
]);

const isMobile = ref(window.innerWidth <= 425);
const activeIndicator = ref(0);
const testimonialsContainer = ref(null);

const changeTestimonial = (index) => {
  const cardWidth = testimonialsContainer.value.offsetWidth;
  testimonialsContainer.value.scrollLeft = index * cardWidth;
  updateActiveIndicator();
};

const updateActiveIndicator = () => {
  const newActiveIndicator = Math.round(testimonialsContainer.value.scrollLeft / testimonialsContainer.value.offsetWidth);
  activeIndicator.value = newActiveIndicator;
};

window.addEventListener('resize', () => {
  isMobile.value = window.innerWidth <= 425;
});


</script>

<template>
  <div class="container-test">
    <section class="title-container">
      <h1>TESTIMONIALS</h1>
      <h3>WHAT OUR <span class="innoendoRainbow-text">CLIENTS</span> SAY ABOUT US?</h3>
    </section>
    <div class="testimonials-container" ref="testimonialsContainer" @scroll="updateActiveIndicator">
      <div v-for="(testimonial, index) in testimonials" :key="index" class="card">
        <article>
          <div class="avatar" :style="{ 'background-image': 'url(' + testimonial.avatar + ')' }"></div>
          <div class="cover">
            <img :src="testimonial.image" alt="slide-one-image" />
            <div class="view"><a class="testimonial-visit-site" :href="testimonial.url" target="_blank">Visit site</a></div>
            <div>
            <img
            v-if="testimonial.smallImageTopLeft"
            class="small-image top-left"
            :src="testimonial.smallImageTopLeft"
            :alt="`Small Image Top Left ${index}`"
            :style="{ width: testimonial.smallImageTopLeftWidth, height: testimonial.smallImageTopLeftHeight }"
          />

          <img
            v-if="testimonial.smallImageBottomRight"
            class="small-image bottom-right"
            :src="testimonial.smallImageBottomRight"
            :alt="`Small Image Bottom Right ${index}`"
            :style="{ width: testimonial.smallImageBottomRightWidth, height: testimonial.smallImageBottomRightHeight }"
          />
          </div>
          </div>
          <div class="star-rating">
            <div class="star-background">
              <div class="star" v-for="_star in testimonial.rating">  
                <img src="../assets/star-fill.png" alt="star-fill-icon">
              </div>
              <div class="star" v-for="_star in (5 - testimonial.rating)">
                <img src="../assets/star-outline.png" alt="star-outline-icon">
              </div>
            </div>
          </div>
          <div class="content">
            <p class="description">{{ testimonial.description }}</p>
            <p class="author">{{ testimonial.author }}</p>
            <p class="position">{{ testimonial.position }}</p>
          </div>
        
        </article>
      </div>
    </div>
    <div class="scroll-indicators-container" v-if="isMobile">
      <div class="scroll-indicators">
        <div
          v-for="(testimonial, index) in testimonials"
          :key="index"
          class="scroll-indicator"
          :class="{ active: index === activeIndicator }"
          @click="changeTestimonial(index)"
        ></div>
      </div>
    </div>
  </div>
</template>


<style lang="scss" scoped>
.container-test {
  padding-top: 7rem;
  background: radial-gradient(
    circle at 100% 122%,
    rgba(178, 157, 201, 0.318),
    rgba(169, 157, 201, 0.3) 7%,
    rgba(255, 214, 215, 0.517) 20%,
    rgba(255, 214, 215, 0.529) 23%,
    rgba(255, 214, 215, 0.517) 20%,
    rgba(255, 214, 215, 0.529) 23%,
    rgba(255, 247, 200, 0.383) 30%,
    transparent 50%
  );
}

.title-container {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  text-align: left;
  margin-bottom: 30px;
  padding: 12px 10%;
  border-radius: 10px;

  @media (max-width: 425px) {
    text-align: center;
    h1 {
      font-size: 36px; 
    }
    h3 {
      font-size: 20px; 
    }
  }
}

.testimonial-visit-site {
  border: solid 1px #fff;
}

.testimonials-container {
  display: flex;
  justify-content: space-evenly;
  padding: 12px 10%;
  flex-direction: row;
  align-items: stretch;

  .card {
    flex: 1;
    position: relative;
    text-align: center;
    text-wrap: balance;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    background: #f3f3f3;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 20px;
   
    
    &:hover {
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4), 0px 8px 16px 6px rgba(0, 0, 0, 0.2);
      .cover:after {
        opacity: 1;
      }
    }

    .cover {
      position: relative;
      display: flex;
      width: 100%;
      height: 155px;
      overflow: hidden;
      object-fit: cover;
      transition: filter 0.3s;

      img {
        width: 100%;
        object-fit: cover;
      }

      &::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.57);
        opacity: 0;
        transition-property: opacity;
        transition-duration: 200ms;
      }

      .view a {
        position: absolute;
        bottom: 5%;
        left: 50%;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
        padding: 8px 20px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 15px;
        color: rgb(255, 255, 255);
        opacity: 0;
        transition-property: all;
        transition-duration: 500ms;
        z-index: 2;
      }
      
    }

    :hover .view a {
      opacity: 1;
      bottom: 25%;
      transform: translate(-50%, -50%) scale(1.1);
    }

    .avatar {
      margin: 1rem;
      position: absolute;
      top: 92px;
      left: 0;
      width: 70px;
      height: 70px;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      z-index: 2;
      background-size: auto;
      background-position: 50% 5%;
    }

    .star-background {
      position: absolute;
      top: 3px;
      right: -15px;
      height: 20px;
      background-color: white;
      border-radius: 25px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 8px 12px;
    }

    .star-rating {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 24px;
    }

    .star {
      margin: 0 2px;
    }

    .small-image {
      position: absolute;
      overflow: hidden;
    }

    .top-left {
      top: 8px;
      left: 15px;
    }

    .bottom-right {

      right: 10px; 
      top: 105px;
    }

    article {
      text-align: left;
      

      h4 {
        margin: 0;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        font-family: Josefin Sans;
      }

      
      .position, .author {
        font-size: 18px;
        line-height: 12px;
      }
      
         
      p {
        font-size: 20px;
        font-family: Lato;
        margin: 1rem 1rem 0.4rem;
        

        &.description {
          padding-top: 1.5rem;
          font-style: italic;
          font-size: 20px;
          font-family: Lato;
          line-height: 20px;
          word-wrap: break-word;
          margin-bottom: auto;

        }

        &:nth-child(2) {
          font-weight: bold;
          margin-bottom: 10px;
        }

        &:nth-child(3) {
          margin-top: 0;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .title-container,
  .testimonials-container {
    text-align: 0;
  }

  .testimonials-container {
    .card {
      margin: 0;
    }
  }
}

@media (max-width: 425px) {
  .testimonials-container::-webkit-scrollbar {
  display: none;
}
  .testimonials-container   {
    display: flex;
    text-align: center;
    display: start;
    justify-content: start;
    overflow-x: auto; 

    .card {
      margin: 0px 20px;
      width: 345px !important;
      height: auto !important;
      flex: 0 0 100%;
      margin: 20px ;
    }
    .scroll-indicator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ccc;
      margin: 0 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &.active {
        background-color: #555;
      }
    }
  }
}

.dark {
  .card {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.11) 100%), #000;
  }
  .testimonials-container .card .star-background {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.11) 100%), #000;
  }
  .testimonials-container .card .white-star[data-v-3f05ebcb] {
    color: #242424;
  }
}
.scroll-indicators-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  display: flex;
  justify-content: center; 
}

.scroll-indicators {
  display: inline-flex;
  .scroll-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      background-color: #555;
    }
  }

  .scroll-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      background-color: #555;
    }
  }
}

</style>