<script setup>
import { RouterView } from "vue-router";
</script>

<template>
  <RouterView />
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Lato:wght@400;700&display=swap");

:root {
  --primary: #000;
  --primary-light: #fff;
  --background-light: #f3f3f3;
  --background-dark: #121212;
  --textColor-light: #000;
  --textColor-dark: #fff;
  --body-regular: 20px;
  --innoendo-rainbow-leftToRight: linear-gradient(
    270deg,
    #00a14b 0%,
    #223f99 33.33%,
    #ec1c24 66.67%,
    #ffdd15 100%
  );
  --innoendo-rainbow-rightToLeft: linear-gradient(
    90deg,
    #00a14b 0%,
    #223f99 33.33%,
    #ec1c24 66.67%,
    #ffdd15 100%
  );
  --swiper-theme-color: #000000 !important;

  scroll-behavior: smooth;
}

.dark {
  color: var(--textColor-dark);
}

p {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

.innoendoRainbow-text {
  background: linear-gradient(
    270deg,
    #00a14b 0%,
    #223f99 33.33%,
    #ec1c24 66.67%,
    #ffdd15 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: Josefin Sans;
}

h1 {
  font-family: Josefin Sans;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 91.7%; /* 55.02px */
  text-transform: uppercase;
}

h3 {
  font-family: Lato;
  font-size: 28px;
  font-weight: 500;
  line-height: 33.6px;
}

/**
* Dynamic Mixins
*/
$line-heights: (
  1: 1.2,
  2: 1.4,
  3: 1.6,
  4: 1.8,
  5: 2,
);

@each $lines, $line-height in $line-heights {
  .truncate-#{$lines}-lines {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: $line-height;
  }
}
</style>
